@use '../base/variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    max-width: 100%;
  }

a{
  text-decoration: none;
}
button{
  cursor: pointer;
}

h1,
h2,
h3,
p,
a {
  font-family: v.$fuente;
}