@use '../base/variables' as v;
@use '../base/mixins' as m;
.container__consulta{
    max-width: 130rem;
    margin: 0 auto;
    padding: 12rem 1rem 4.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 49.23% 40.77%;
    column-gap: 10%;
    @include m.tablet {
        max-width: 78rem;
        display: flex;
        flex-direction: column;
        padding-top: 16rem;
    }
    @include m.mobile {
        padding-top: 13.4rem;
        max-width: 40rem;
    }
}
.consulta__formulario{
    display: flex;
    h2{
        color: v.$violeta;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        margin-bottom: 1rem;
    }
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include m.mobile {
        margin-bottom: 1.6rem;
    }
}
.campo-texto{
    color: #8D8D8D;
    font-family: Noto Sans JP;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 10px;
    border: 1px solid #8D8D8D;
    height: 4.8rem;
    margin-bottom: 2rem;

}
.input-doble{
    width: 100%;
    display: flex;
    gap: 2rem;
    @include m.mobile {
        flex-direction: column;
        gap: 0;
    }
}
.form-nombre, .form-apellido{
    width: 50%;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    height: 4.8rem;
    @include m.mobile {
        width: 100%;
    }
}
.textarea{
    min-height: 22.4rem;
}

.consulta__pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include m.tablet {
        flex-direction: row;
        height: 100%;
        gap: 2rem;
    }
    @include m.mobile {
        flex-direction: column;
        margin-bottom: 9rem;
    }
    h2{
        color: v.$violeta;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include m.tablet {
            text-align: center;
        }
        @include m.mobile {
            text-align: start;
        }
    }
}
.box--precio{
    border-radius: 1rem;
    background-color: v.$violeta;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1rem;
    gap: 2rem;
    text-align: center;
    @include m.tablet {
        flex-direction: column;
        height: 10rem;
        padding: 1rem;
        gap: 1rem;
    }
    @include m.mobile {
        gap: 0;
        height: 8rem;
        align-items: baseline;
    }
    p{
        color: v.$blanco;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        @include m.tablet {
            margin: 0;
        }
    }
}
.boton-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet {
        justify-content: center;
    }
    @include m.mobile {
        width: 100%;
    }
    button{
        display: flex;
        width: 309px;
        padding: 13px 45px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #9168A4;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        color: v.$blanco;
        font-family: v.$fuente;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include m.mobile {
            width: 100%;
        }
    }
    p,a{
        color: #8D8D8D;
        font-family: v.$fuente;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include m.mobile {
            width: 100%;
        }
    }
    u{
        text-decoration-style: dotted
    }
}