@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__home{
    padding-top: 8rem;
    @include m.tablet {
        padding-top: 14rem;
    }
    @include m.mobile {
        padding-top: 8rem;
    }
}
.container__proceso{
    height: 456px;
    width: 100%;
    box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
    @include m.tablet {
        padding-top: 12rem;
    }
    @include m.mobile {
        height: 100%;
        padding-top: 0;
    }
}
.proceso__contenido{
    height: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 6rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include m.tablet {
        max-width: 78rem;
        padding-top: 0;
    }
    @include m.mobile {
        width: 100%;
        max-width: 39rem;
        padding: 8.2rem 1rem;
        align-items: center;
    }
    h2{
        color: v.$violeta;
        font-family: v.$fuente;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        @include m.mobile {
            padding-bottom: 8.2rem;
        }
    }

}
.proceso__serie{
    display: grid;
    align-self: center;
    justify-items: center;
    align-items: center;
    max-width: 1069px;
    grid-template-columns: 24.93% 11.3% 24.93% 11.3% 27.53%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a1 a2 a3 a4 a5"
                         "a6 a7 a8 a9 a10";
    @include m.mobile {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 0.5fr 1.3fr 1fr 0.5fr 1.3fr 1fr 0.5fr;
        grid-template-areas: "a1" "a6" "a2" "a3" "a8" "a4" "a5" "a10";

        .flecha1,.flecha2{
            transform: rotate(90deg);
        }
        .proceso__texto{
            display: flex;
            justify-content: center;
        }
        
    }
    .icono--uno{
        grid-area: a1;
    }
    .icono--dos{
        grid-area: a3;
    }
    .icono--tres{
        grid-area: a5;
    }
    .flecha1{
        grid-area: a2;
        @include m.mobile {
            width: 90px;
        }
    }
    .flecha2{
        grid-area: a4;
        @include m.mobile {
            width: 90px;
        }
    }
    .texto--uno{
        grid-area: a6;
    }
    .texto--dos{
        grid-area: a8;
    }
    .texto--tres{
        grid-area: a10;
    }
}
.proceso__texto{
    width: 100%;
    p{
        color: v.$gris;
        text-align: center;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        max-width: 26.9rem;
        margin: 0;
        &:last-child{
            max-width: 29.7rem;
        }
    }
}

.container__precios{
    max-width: 130rem;
    height: 67.3rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 5%;
    @include m.tablet {
        width: 100%;
        height: 100%;
        max-width: 78rem;
        flex-direction: column-reverse;
        padding: 14rem 0 0;
    }
    @include m.mobile {
        max-width: 39rem;
        padding: 9.5rem 0;
    }
}
.column--card{
    display: flex;
    justify-content: center;
    @include m.tablet {
        max-width: 78rem;
        width: 100%;
        padding: 0 1rem;
        margin-top: 2.5rem;
    }
    @include m.mobile {
        max-width: 39rem;
        padding: 0;
    }
}
.card--precios{
    width: 420px;
    height: 440px;
    border-radius: 10px;
    background: v.$violeta;
    box-shadow: 4px 4px 17px 5px rgba(0, 0, 0, 0.25);
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    padding: 56px 40px 36px 40px;
    height: 100%;
    @include m.mobile {
        padding-top: 42px;
        padding: 42px 36px 32px 36px;
    }
    h3{
        margin: 0;
        text-align: center;
        width: 420px;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 3rem;
        span{
            font-size: 50px;
        }
        @include m.mobile {
            padding-bottom: 1.2rem;
        }
    }
    p{
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 2rem;
    }
    ul{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
    }

    li{
        list-style-image:url('img/check.svg');
        list-style-position: inside;
        font-family: v.$fuente;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        @include m.mobile {
            font-size: 18px;
        }

    }
    a{
        align-self: center;
    }
    button{
        width: 156px;
        height: 48px;
        border-radius: 10px;
        background-color: v.$blanco;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 13px 45px;
        margin-top: 3.6rem;
        border: 0;
        &:hover{
            background-color: v.$grisFondo;
            transition: ease-in-out 0.25s;
            p{
                color: v.$violetaOscuro;
                transition: ease-in-out 0.25s;
            }
        }
        p{
            color:v.$violeta;
            font-size: 15px;
            font-weight: 700;
        }
    }
}
.column--cobertura{
    display: flex;
    flex-direction: column;
    @include m.mobile {
        margin-bottom: 2.8rem;
        max-width: 39rem;
    }
    h2{
        margin: 0;
        margin-bottom: 2.5rem;
        color: v.$violeta;
        font-size: 50px;
        font-weight: 700;
        @include m.tablet {
            font-size: 45px;
            text-align: center;
        }
        @include m.mobile {
            font-size: 40px;
            line-height: 110.8%;
        }
    }
    p{
        align-self: center;
        margin: 0;
        width: 90%;
        color: v.$gris;
        font-size: 25px;
        font-weight: 400;
        @include m.tablet {
            font-size: 22px;
        }
        @include m.mobile {
            text-align: center;
            font-size: 20px;
            padding: 0 1rem;
            width: 100%;
        }
    }
}

.container__nosotros{
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 0 1rem;
    padding-top: 8rem;
    display: flex;
    gap: 2rem;
    @include m.tablet {
        flex-direction: column;
        padding-top: 12rem;
    }
    @include m.mobile {
        padding-top: 6rem;
    }
    .nosotros__texto{
        max-width: 75rem;
        padding-top: 1.5rem;
        @include m.tablet {
            width: 100%;
            max-width: 78rem;
            margin: 0 auto;
        }
        @include m.mobile {
            max-width: 39rem;
        }
    }
    h2{
        margin: 0;
        margin-bottom: 2.5rem;
        color: v.$violeta;
        font-size: 50px;
        font-weight: 700;
        @include m.tablet {
            font-size: 45px;
            text-align: center;
        }
        @include m.mobile {
            font-size: 40px;
            line-height: 110.8%;
        }
    }
    h4{
        font-family: v.$fuente;
        align-self: center;
        margin: 0;
        margin-bottom: 3rem;
        width: 90%;
        color: v.$gris;
        font-size: 25px;
        font-weight: 400;
        @include m.tablet {
            font-size: 22px;
        }
        @include m.mobile {
            text-align: justify;
            font-size: 20px;
            padding: 0 1rem;
            width: 100%;
        }
    }
    p{
        align-self: center;
        font-family: v.$fuente;
        margin: 0;
        width: 90%;
        color: v.$gris;
        font-size: 25px;
        font-weight: 400;
        span{
            font-weight: 700;
        }
        @include m.tablet {
            font-size: 22px;
        }
        @include m.mobile {
            font-size: 20px;
            padding: 0 1rem;
            width: 100%;
        }
    }
    .nosotros__texto--datos{
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;
        @include m.mobile {
            gap: 0.5rem;
        }
    }
    .nosotros__img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        max-width: 513px;
        @include m.tablet {
            width: 100%;
            max-width: 78rem;
            margin: 0 auto;
        }
        @include m.mobile {
            max-width: 39rem;
        }
    }
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
  
.modal-container {
    position: relative;
    padding: 1rem;
    min-width: 60rem;
    max-width: 75rem;
    min-height: 40rem;
    max-height: 50rem;
    overflow-y: auto;
    background-color: #fff;
    img{
        width: 100%;
    }
}
  
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal.is-open {
    display: flex;
  }

.img-mobile {
 display: none;
}
  
  @media screen and (min-width: 650px) {
    .myslide {
      display: none;
    }
    .carousel {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 1rem;
  
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  
    .img-mobile {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  ._L8X8r {
    height: 478px !important;
}
.carousel{
    margin-bottom: 5rem;
}