@use '../base/variables' as v;

.container__proceso{
    height: 456px;
    width: 100%;
    box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
}
.proceso__contenido{
    height: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2{
        color: v.$violeta;
        font-family: v.$fuente;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        margin: 0;
    }

}
.proceso__serie{
    display: grid;
    align-self: center;
    justify-items: center;
    align-items: center;
    max-width: 1069px;
    grid-template-columns: 24.93% 11.3% 24.93% 11.3% 27.53%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a1 a2 a3 a4 a5"
                         "a6 a7 a8 a9 a10";
    .icono--uno{
        grid-area: a1;
    }
    .icono--dos{
        grid-area: a3;
    }
    .icono--tres{
        grid-area: a5;
    }
    .flecha1{
        grid-area: a2;
    }
    .flecha2{
        grid-area: a4;
    }
    .texto--uno{
        grid-area: a6;
    }
    .texto--dos{
        grid-area: a8;
    }
    .texto--tres{
        grid-area: a10;
    }
}
.proceso__texto{
    width: 100%;
    p{
        color: v.$gris;
        text-align: center;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        max-width: 26.9rem;
        margin: 0;
        &:last-child{
            max-width: 29.7rem;
        }
    }
}


.container__precios{
    max-width: 130rem;
    height: 67.3rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 5%;
}
.card--precios{
    width: 420px;
    height: 440px;
    border-radius: 10px;
    background: v.$violeta;
    box-shadow: 4px 4px 17px 5px rgba(0, 0, 0, 0.25);
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    padding: 56px 40px 36px 40px;
    h3{
        margin: 0;
        text-align: center;
        width: 420px;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 3rem;
        span{
            font-size: 50px;
        }
    }
    p{
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 2rem;
    }
    ul{
        margin: 0;
    }

    li{
        list-style-image:url('img/check.svg');
        list-style-position: outside;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 2rem;

    }
    button{
        width: 156px;
        height: 48px;
        border-radius: 10px;
        background-color: v.$blanco;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 13px 45px;
        align-self: center;
        p{
            color:v.$violeta;
            font-size: 15px;
            font-weight: 700;
        }
    }
}
.column--cobertura{
    display: flex;
    flex-direction: column;
    h2{
        margin: 0;
        margin-bottom: 2.5rem;
        color: v.$violeta;
        font-size: 50px;
        font-weight: 700;
    }
    p{
        align-self: center;
        margin: 0;
        width: 90%;
        color: v.$gris;
        font-size: 25px;
        font-weight: 400;
    }
}