@use '../base/variables' as v;
@use '../base/mixins' as m;
.container__pago{
    width: 47.5rem;
    height: 28rem;
    border-radius: 2rem;
    background: v.$blanco;
    box-shadow: 0px 0px 126px -13px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    p{
        color: v.$negro;
        text-align: center;
        font-family: v.$fuente;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    button{
        display: flex;
        width: 309px;
        padding: 13px 45px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 0;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        
        color: v.$blanco;
        font-family: v.$fuente;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        
    }
    .btn--confirmarPedido{
        background: v.$violeta;
        &:hover{
            background-color: v.$lila;
            transition: ease-in 0.25s;
            color: v.$gris;
        }
        &.ocultar{
            display: none;
        }
    }
    .btn--cancelarPedido{
        background: v.$grisClaro;
        &:hover{
            background-color: v.$grisFondo;
            transition: ease-in 0.25s;
            color: v.$negro;
        }
        &.ocultar{
            display: none;
        }
    }

}